.selected-movie {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop-container {
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.backdrop {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    z-index: -1;
}

.gray-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.back-to-main-btn {
  position: absolute;
  font-size: 2rem;
  top: 2vh;
  margin-top: 2vh;
  left: 3vw;
  z-index: 2;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.movie-title,
.movie-trailer,
.movie-stats {
  font-size: 4rem;
  position: absolute;
  top: 27vh;
  left: 5vw;
  z-index: 1;
  color: white;
}
.movie-stats {
  font-size: 1rem;
  top: 48vh;
  left:2.5vw;
  list-style-type: none;
  text-align: left;
}
.overview {
  width: 32vw;
  top: 80vh;
}
li {
  margin-bottom: 3vh;
}
.movie-trailer {
  font-size: 2rem;
  left: 50vw;
  top: 30vh;
  border: 2px solid white;
  width: 480px;
  height: 270px;
}

