html {
  font-size: 62.5%;
  width: 100vw;
}

.App {
  text-align: center;
}



.header {
  height: 10%;
}

.movies-container {
  background-color: rgba(52,53,65, .8)
}
/* mobile devices */
@media screen and (max-width: 37.5em) {
 
  .movies-container {
    width: 100vw;
    background-color: rgba(52,53,65, .8)
  }
  .cards-container {
    width: 100%;
  }
  
}
