.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.10);
  }

  .movie-poster {
    height: 250px;
  }